<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Welcome Jr pilot!
    </h1>
    <div>
        <h2>login or register </h2>
    </div>
    <div class="d-flex justify-content-around">
        <form action="/register" method="post" class="col-4 p-4 bg-dark text-light">
            <h2 class="text-primary">Register</h2>
            {% with messages = get_flashed_messages(category_filter=['register']) %}
                {% if messages %}
                <div class="alert alert-danger" role="alert">
                        {% for message in messages %}
                        <p>{{message}}</p>
                        {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
            <div class="mb-3">
                <label for="first_name" class="form-label">First Name:</label>
                <input type="text" class="form-control" name="first_name">
            </div>
            <div class="mb-3">
                <label for="last_name" class="form-label">Last Name:</label>
                <input type="text" class="form-control" name="last_name">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email address:</label>
                <input type="text" class="form-control" name="email">
                
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input type="password" class="form-control" name="password">
            </div>
            <div class="mb-3">
                <label for="confirm" class="form-label">ReType Password:</label>
                <input type="password" class="form-control" name="confirm">
            </div>
            <input type="submit" value="Register" class="btn btn-primary">
        </form>

        <form action="/login" method="post" class="col-4 p-4 bg-dark text-light">
            <h2 class="text-primary">Login</h2>
            {% with messages = get_flashed_messages(category_filter=['login']) %}
                {% if messages %}
                <div class="alert alert-danger" role="alert">
                    <strong>Flash Login Error!</strong>
                        {% for message in messages %}
                        <p>{{message}}</p>
                        {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" name="email" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" value="Login" class="btn btn-primary">Login</button>
        
        </form>
    
</body>
</html>